version: '2'
services:
  machine:
    environment:
      - APPDYNAMICS_AGENT_ACCOUNT_NAME
      - APPDYNAMICS_AGENT_ACCOUNT_ACCESS_KEY
      - APPDYNAMICS_CONTROLLER_HOST_NAME
      - APPDYNAMICS_CONTROLLER_SSL_ENABLED
      - APPDYNAMICS_CONTROLLER_PORT
      - EVENTS_SERVICE_HOST
      - GLOBAL_ACCOUNT_NAME
      - EVENTS_SERVICE_API_KEY
      - MACHINE_AGENT_PROPERTIES=-Dappdynamics.sim.enabled=true -Dappdynamics.docker.enabled=false

    build:
      context: .
      dockerfile: Dockerfile_MA


    volumes:
      - /:/hostroot:ro
      - /var/run/docker.sock:/var/run/docker.sock